<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="http://phonegap.com/ns/1.0"
		id="com.inappbrowser.pgbtest"
		version="1.1.1">
	
	<name>
		inAppBrowser Test
	</name>
	<description>
		An example of inAppBrowser Plugin.
	</description>

	<author href="https://sub.example.com" email="someone@email.com">
		Yourname
	</author>

	<!-- @note gap:platforms not working in PGB! -->
	<gap:platform name="ios" />
	<gap:platform name="android" minVersion="2.1"/>

	<gap:plugin name="org.apache.cordova.core.inappbrowser" />

	<preference name="permissions" value="none"/>

	<access origin="*" />

</widget>
