<?xml version="1.0" encoding="UTF-8"?> 
<widget xmlns="http://www.w3.org/ns/widgets" 
		xmlns:gap="http://phonegap.com/ns/1.0"
		id="com.inappbrowser.pgbtest"
		version="1.0.3">
	
	<name>
		inAppBrowser Test
	</name>
	<description>
		An example of inAppBrowser Plugin.
	</description>

	<author href="https://sub.example.com" email="someone@email.com">
		Yourname
	</author>

	<!-- @note gap:platforms not working in PGB! -->
	<gap:platform name="ios" />
	<gap:platform name="android" minVersion="2.1"/>

	<!-- don't need all features, but it won't work anyway... -->
	<feature name="http://api.phonegap.com/1.0/device"/>
	<feature name="http://api.phonegap.com/1.0/battery"/>
	<feature name="http://api.phonegap.com/1.0/camera"/>
	<feature name="http://api.phonegap.com/1.0/contacts"/>
	<feature name="http://api.phonegap.com/1.0/file"/>
	<feature name="http://api.phonegap.com/1.0/geolocation"/>
	<feature name="http://api.phonegap.com/1.0/media"/>
	<feature name="http://api.phonegap.com/1.0/network"/>
	<feature name="http://api.phonegap.com/1.0/notification"/>

<feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.inappbrowser.InAppBrowser" />
</feature>

	<!-- PG version -->
	<preference name="phonegap-version" value="3.0.0" />
	<!--
		We don't really need specific permissions,
		but PGB will add some.
	-->
	<preference name="permissions" value="none"/>

	<access origin="*" />

</widget>
